{% extends "app/base.html" %}

{% block main %}

    {% if task_list_late %}
        <h3 class="mt-3 mb-1">Late tasks</h3>
        <ul class="list-group">
            {% for task in task_list_late %}
                <li class="list-group-item d-flex justify-content-between flex-wrap align-items-center">
                    <div>
                        {{ task.description }}
                        {% if task.tag_set.all %}
                            {% for tag in task.tag_set.all %}
                                <a class="badge badge-secondary"
                                   href="{% url 'app:search' %}?query=tag:{{ tag.text }}">{{ tag.text }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="text-muted">{{ task.deadline|timeuntil }}</div>
                    <div class="d-flex flex-wrap">
                        <form class="mr-1" action="{% url 'app:archive_toggle' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            {% if task.archive_date %}
                                <button class="btn btn-primary" type="submit">Unarchive</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit">Archive</button>
                            {% endif %}
                        </form>
                        <form class="mr-1" action="{% url 'app:edit' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                        <form action="{% url 'app:delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit" name="task_delete">Delete</button>
                        </form>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if task_list_no_deadline %}
        <h3 class="mt-3 mb-1">Tasks without deadlines</h3>
        <ul class="list-group">
            {% for task in task_list_no_deadline %}
                <li class="list-group-item d-flex justify-content-between flex-wrap align-items-center">
                    <div>
                        {{ task.description }}
                        {% if task.tag_set.all %}
                            {% for tag in task.tag_set.all %}
                                <a class="badge badge-secondary"
                                   href="{% url 'app:search' %}?query=tag:{{ tag.text }}">{{ tag.text }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="text-muted">{{ task.deadline|timeuntil }}</div>
                    <div class="d-flex flex-wrap">
                        <form class="mr-1" action="{% url 'app:archive_toggle' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            {% if task.archive_date %}
                                <button class="btn btn-primary" type="submit">Unarchive</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit">Archive</button>
                            {% endif %}
                        </form>
                        <form class="mr-1" action="{% url 'app:edit' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                        <form action="{% url 'app:delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit" name="task_delete">Delete</button>
                        </form>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <h3 class="mt-3 mb-1">Today</h3>

    {% if task_list_today %}
        <ul class="list-group">
            {% for task in task_list_today %}
                <li class="list-group-item d-flex justify-content-between flex-wrap align-items-center">
                    <div>
                        {{ task.description }}
                        {% if task.tag_set.all %}
                            {% for tag in task.tag_set.all %}
                                <a class="badge badge-secondary"
                                   href="{% url 'app:search' %}?query=tag:{{ tag.text }}">{{ tag.text }}</a>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <div class="d-flex flex-wrap">
                        <form class="mr-1" action="{% url 'app:archive_toggle' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            {% if task.archive_date %}
                                <button class="btn btn-primary" type="submit">Unarchive</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit">Archive</button>
                            {% endif %}
                        </form>
                        <form class="mr-1" action="{% url 'app:edit' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                        <form action="{% url 'app:delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit" name="task_delete">Delete</button>
                        </form>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are not any tasks for today.</p>
    {% endif %}

    <h3 class="mt-3 mb-1">In a week</h3>

    {% if task_list_week %}
        <ul class="list-group">
            {% for task in task_list_week %}
                <li class="list-group-item d-flex justify-content-between flex-wrap align-items-center">
                    <div>
                        {{ task.description }}
                        {% if task.tag_set.all %}

                            {% for tag in task.tag_set.all %}
                                <a class="badge badge-secondary"
                                   href="{% url 'app:search' %}?query=tag:{{ tag.text }}">{{ tag.text }}</a>
                            {% endfor %}

                        {% endif %}
                    </div>

                    <div class="text-muted">{{ task.deadline|timeuntil }}</div>
                    <div class="d-flex flex-wrap">
                        <form class="mr-1" action="{% url 'app:archive_toggle' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            {% if task.archive_date %}
                                <button class="btn btn-primary" type="submit">Unarchive</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit">Archive</button>
                            {% endif %}
                        </form>
                        <form class="mr-1" action="{% url 'app:edit' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                        <form action="{% url 'app:delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit" name="task_delete">Delete</button>
                        </form>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are not any tasks for this week.</p>
    {% endif %}

    <h3 class="mt-3 mb-1">In a month</h3>

    {% if task_list_month %}
        <ul class="list-group">
            {% for task in task_list_month %}
                <li class="list-group-item d-flex justify-content-between flex-wrap align-items-center">
                    <div>
                        {{ task.description }}
                        {% if task.tag_set.all %}

                            {% for tag in task.tag_set.all %}
                                <a class="badge badge-secondary"
                                   href="{% url 'app:search' %}?query=tag:{{ tag.text }}">{{ tag.text }}</a>
                            {% endfor %}

                        {% endif %}
                    </div>

                    <div class="text-muted">{{ task.deadline|timeuntil }}</div>
                    <div class="d-flex flex-wrap">
                        <form class="mr-1" action="{% url 'app:archive_toggle' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            {% if task.archive_date %}
                                <button class="btn btn-primary" type="submit">Unarchive</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit">Archive</button>
                            {% endif %}
                        </form>
                        <form class="mr-1" action="{% url 'app:edit' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                        <form action="{% url 'app:delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit" name="task_delete">Delete</button>
                        </form>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are not any tasks for this month.</p>
    {% endif %}

    <h3 class="mt-3 mb-1">After a month</h3>

    {% if task_list_other %}
        <ul class="list-group">
            {% for task in task_list_other %}
                <li class="list-group-item d-flex justify-content-between flex-wrap align-items-center">
                    <div>
                        {{ task.description }}
                        {% if task.tag_set.all %}

                            {% for tag in task.tag_set.all %}
                                <a class="badge badge-secondary"
                                   href="{% url 'app:search' %}?query=tag:{{ tag.text }}">{{ tag.text }}</a>
                            {% endfor %}

                        {% endif %}
                    </div>

                    <div class="text-muted">{{ task.deadline|timeuntil }}</div>
                    <div class="d-flex flex-wrap">
                        <form class="mr-1" action="{% url 'app:archive_toggle' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            {% if task.archive_date %}
                                <button class="btn btn-primary" type="submit">Unarchive</button>
                            {% else %}
                                <button class="btn btn-primary" type="submit">Archive</button>
                            {% endif %}
                        </form>
                        <form class="mr-1" action="{% url 'app:edit' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                        <form action="{% url 'app:delete' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="task_id" value="{{ task.id }}">
                            <button class="btn btn-primary" type="submit" name="task_delete">Delete</button>
                        </form>
                    </div>

                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>There are not any tasks for after this month.</p>
    {% endif %}
{% endblock main %}